@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
 background-color: #f1f1f1;
 color: #0f141e;

font-size: 16px;
font-weight: normal;
font-family: "Roboto", sans-serif;

}
a {
color: black;
text-decoration: none;
}

/* a:hover{
text-decoration: underline;
} */

a:active{

    color: blue;

}
a:visited{

    color: grey;
}
.vklogo {
    width: 30px;
}
.tglogo{
    width: 30px;  
}
.vklogo:hover{
    -webkit-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
}
.tglogo:hover{

-webkit-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
transition: all 0.2s linear 0s;
}    

.avatar{

    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25) ;
}

.info p {

    color: #86898f;
    margin: 0; 
    font-style: italic;
    font-weight: bold;

}

.info{
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 750px){
    .info{
        text-align: center;
        display: block;
}
}
.info-text{
    margin-left: 40px;
}

.info-text h4{
    margin-bottom: 10px ;
}


.container{

    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.bg-yellow{

    /* background: #fff9dc; */
    background: linear-gradient(to right, 
    #fff9dc 0%, #fff9dc 20%, #fff9dc 100%);
}   
.shadow-for-yellow {
    /* border-radius: 400px/30px; */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
    /* transform: rotate(-1deg); */
}

.bg-green{
    background: #e5ffe7;
    
}

.shadow-for-green {
    /* border-radius: 400px/30px; */
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.30);
    /* transform: rotate(3deg); */

}


.bg-red{
    background: #ffe5e5;
}

.shadow-for-red{
    /* border-radius: 400px/30px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    /* transform: rotate(-0.5deg);   */
}
/* .shadow-for-red:hover{
opacity: .7;   
} */
.card{

padding: 15px 20px;
margin-bottom: 5px;
border-radius: 20px;
/* box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25) */
}
.card:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
 transition: all 0.2s linear 0s;
}
.card h2 {
margin-bottom: 10px;
}
.list{
    padding: 0 20px;
}
.list li{
color: #86898f;
padding-bottom: 10px;

}
.table{
width: 100%;  
}
.table td{
    margin-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.contact h2{

    text-align: center;
}

.form-group{
display:block;
font-size: 14px;
color: #86898f;
}
.form-group input,
.form-group textarea{
width: 100%;
box-sizing: border-box;
border: none;
background: transparent;
border-bottom: 1px solid #ccc;
color: #000;
padding: 15px 10px;
outline: none;
font-family: inherit;
}

.row{
display: flex;
margin-bottom: 10px;

}
.row > .form-group{
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child {

    margin-right: 0px;
}    

.btn{
    background: #000;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
opacity: .9;

}

/* Position */

/* .position{
    position: relative;
border: 4px solid #000;
margin-top: 40px;
padding: 20px;
height: 300px;
}

/* .box{
    position: absolute;
    top: 0px;
    right: 0px;
    /* left: 0px;
    bottom: 150px; */


